<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>vuejssample</title>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>   

        <script type="text/javascript" src="dist/app.js"></script>     
    </body>
</html>