<template>
<div>
    <p>Dit is toch een extra!</p>
    <h1>{{ message }}</h1>
</div>
</template>

<script lang="ts">
import Vue from 'vue'

export default class App extends Vue {
    message: string = "Hello from vue!";
}
</script>
